/*Code pour la police importée*/
.nova-cut-regular {
    font-family: "Nova Cut", system-ui;
    font-weight: 400;
    font-style: normal;
  }

html {
    height: 100%;
  }

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: #666666;
}

header {
    background-color: #828282;
    border-bottom: 0.1rem groove #dbdbdb;
    margin-bottom: 2px;
    box-shadow: 0px 1px 2em 10px orangered;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

header img {
    max-width: 5.5rem;
    max-height: 5.5rem;
}

.index_title {
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content: space-between;
}

.monster-card {
    margin-left: 1rem;
    margin-right: 1rem;
    border: 0.1rem solid #dbdbdb;
    padding: 1rem;
    margin-bottom: 2rem;
    box-shadow: 1px -1px 1em 5px orangered;
    background-color: #828282;
}

footer {
    font-size: 0.9rem;
    background-color: #828282;
    border-top: 0.1rem solid #dbdbdb;
    box-shadow: 0px -1px 2em 10px orangered;
    margin: 0;
    padding-left: 1rem;
    padding-right: 1rem;
    display: flex;
    justify-content:space-between;
}

footer a {
    color:black;
}
footer a:visited {
    color: black;
}

#copyright {
    text-align: right;
    padding-top: 0.4rem;
}



/* large screen codes */
@media (min-width: 440px) {

    footer, header, .index_title {
        padding-left: 3rem;
        padding-right: 3rem;
    }

    .monster-card {
        margin-left: 3rem;
        margin-right: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }

}